body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #333333;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #5cc4d8;
  text-decoration: none;
}

select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  margin-bottom: 10px;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option {
  margin: 20px 0;
  white-space: normal;
}

.call-out {
  border-left: solid 4px #FFBF00;
  padding-left: 10px;
}

.on-hold {
  color: rgb(126, 126, 126);
}

.on-hold a {
  color: #377581;
}

footer {
  text-align: right;
  padding: 10px;
  color: #FFBF00;
  font-weight: 100;
  font-size: 12px;
}

.title {
  color: #FFBF00;
  font-size: 22px;
  font-weight: 900;
  position: fixed;
  top: 145px;
  right: -50px;
  text-transform: uppercase;
  transform: rotate(90deg);
}

nav {
  display: flex;
  background-color: rgba(1, 0, 13, 0.85);
  font-size: 18px;
  font-weight: 900;
  padding: 10px; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  z-index: 100;
}

nav > .menu-links {
  align-items: center;   
  display: flex;
  flex-grow: 3;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

nav a {
  color: #fff;
  cursor: pointer;
}

nav a:hover {
  color: #5cc4d8;
}

.content {
  margin: 80px 40px 80px 60px;
  display: flex;
  justify-content: flex-start; 
  /* flex-flow: column; */ 
  flex-direction: column;  
}

.content.signup {
  display: block;
  min-height: 300px;
}

.form-entry {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 30px;
}

.form-entry .temp-loading {
  max-width: 400px;
  margin: 0 auto;
}

.form-entry .temp-loading h3 {
  color: #FFBF00;
}

.form-entry .temp-loading p  {
  font-size: 12px;
}

section {
  max-width: 1400px;
}

section p {
  max-width: 850px;
}

section h1, h2 {
  color: #FFBF00;
}

section h1 {
  font-size: 2.5em;
  font-weight: 900;
}

.releases {
  display: flex;
  gap: 10px;
  flex-direction: row; 
  flex-wrap: wrap; 
  align-content: flex-start;
}

.releases.original .release:not(.release.release-original) {
  display: none;
}

.releases.mixset .release:not(.release.release-mixset) {
  display: none;
}

.releases.remixes .release:not(.release.release-remixes) {
  display: none;
}

.releases.compilations .release:not(.release.release-compilations) {
  display: none;
}

.release {
  position: relative;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  width: 380px;
  min-height: 100px;
  gap: 10px;
  background-color: rgba(1, 0, 13, 0.44);
}

.release.preorder::after {
  content: "pre-order";
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: #000;
  background-color: #FFBF00;
}

.release-cover {
  background-size: 100px 100px;
  flex-shrink: 0;
  flex-basis: 100px;
  width: 100px;
}

.release-title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 7px;
}

.release-title.xtra-small {
  font-size: 18px;
}

.release-label {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 8px;
}

.release-desc {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 8px;
}

.release-tags {
  font-size: 10px;
  font-weight: 100;
  font-style: italic;
}

.stream-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stream-list .past {
  color: #887e8b;
}

.stream-list li {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  text-indent: -0.7rem;
}

.stream-list li::before {
  content: "📺 ";
  font-size: 18px;
}

.stream-list .stream-title {
  font-size: 18px;
  font-weight: bold;
  padding-right: 4px;
}

.stream-list .stream-time {
  font-style: italic;
}

.stream-list .stream-desc {
  margin-left: 28px;
}

.resources {
  display: flex;
  gap: 10px;
  flex-direction: row; 
  flex-wrap: wrap; 
  align-content: flex-start;
}

.resource {
  color: #fff;
  padding: 10px;
  align-items: center; 
  display: flex;
  width: 380px;
  height: 100px;
  background-color: rgba(1, 0, 13, 0.44);
  gap: 15px;
}

.resource-logo {
  background-color: #fff;
  background-size: 100px 100px;
  border-radius: 50%;
  flex-shrink: 0;
  width: 100px;
  flex-basis: 100px;
  height: 100px;
}

.resource-title {
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 10px;
}

.biography img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.tag-line {
  margin-top: 50px;
  color: #FFBF00;
  font-size: 1.2em;
  font-style: italic;
}

/* Images */
.halon-logo {
  background-image: url(./icons/halon-logo-icon-1x.png);
  background-size: 50px 50px;
  height: 50px;
  width: 
  52px;
}

.alan-levin-history-cover {
  background-image: url(./icons/covers/alan-levin-history-cover.png);
}

.shangri-la-cover {
  background-image: url(./icons/covers/shangri-la-cover.png);
}

.fa-018-cover {
  background-image: url(./icons/covers/fa-018-cover.png);
}

.LLB2023-cover {
  background-image: url(./icons/covers/LLB2023-cover.png);
}


.afterhours-vol3-cover {
  background-image: url(./icons/covers/afterhours-vol3-cover.png);
}


.loss-of-beauty-cover {
  background-image: url(./icons/covers/loss-of-beauty-cover.png);
}

.fa-006-cover {
  background-image: url(./icons/covers/fa-006-cover.png);
}

.SAF-An-Intro-to-2023-cover {
  background-image: url(./icons/covers/SAF-An-Intro-to-2023.png);
}

.thaumaturgy-cover {
  background-image: url(./icons/covers/thaumaturgy-cover.png);
}


.mayanna-cover {
  background-image: url(./icons/covers/mayanna-cover.png);
}

.contemplation-cover {
  background-image: url(./icons/covers/contemplation-cover.png);
}

.fa-best-of-2022-cover {
  background-image: url(./icons/covers/fa-best-of-2022-cover.png);
}

.best-of-2022-cover {
  background-image: url(./icons/covers/best-of-2022-cover.png);
}

.duality-cover {
  background-image: url(./icons/covers/duality-cover.png);
}

.another-life-fall-2022-cover {
  background-image: url(./icons/covers/another-life-fall-2022.png);
}

.door-cover {
  background-image: url(./icons/covers/door-cover.png);
}


.polyptych-150-cover {
  background-image: url(./icons/covers/polyptych-150-cover.png);
}

.summer-2022-cover {
  background-image: url(./icons/covers/summer-2022-cover.png);
}

.polyptych-year-two-cover {
  background-image: url(./icons/covers/polyptych-year-two-cover.png);
}

.euphonious-remixes-cover {
  background-image: url(./icons/covers/euphonious-remixes-cover.png);
}

.martinec-hope-cover{
  background-image: url(./icons/covers/martinec-hope-cover.png);
}

.fallen-remixes-cover {
  background-image: url(./icons/covers/fallen-remixes-cover.png);
}

.spring-2022-cover {
  background-image: url(./icons/covers/spring-2022-cover.png);
}

.best-of-2021-cover {
  background-image: url(./icons/covers/best-of-2021-cover.png);
}

.tell-you-an-history-cover {
  background-image: url(./icons/covers/tell-you-an-history-cover.png);
}

.the-100-vol-2-cover {
  background-image: url(./icons/covers/the-100-vol-2-cover.png);
}

.object-permenence-cover {
  background-image: url(./icons/covers/object-permenence-cover.png);
}

.tectonic-fields-cover {
  background-image: url(./icons/covers/tectonic-fields-cover.png);
}

.fallen-cover {
  background-image: url(./icons/covers/fallen-cover.png);
}

.elevated-cover {
  background-image: url(./icons/covers/elevated-cover.png);
}

.fall-sampler-cover {
  background-image: url(./icons/covers/fall-sampler-cover.png);
}

.interstellar-cover {
  background-image: url(./icons/covers/interstellar-medium-cover.png);
}

.echoes-vol-2-cover {
  background-image: url(./icons/covers/echoes-vol-2-cover.png);
}

.atmospheric-waves-cover {
  background-image: url(./icons/covers/atmospheric-waves-cover.png);
}

.md-talent-podcast-cover {
  background-image: url(./icons/covers/talent-podcast-cover.png);
}

.lost-elements-cover {
  background-image: url(./icons/covers/lost-elements-cover.png);
}

.strange-quarks-cover {
  background-image: url(./icons/covers/strange-quarks-cover.png);
}

.no-games-cover {
  background-image: url(./icons/covers/no-games-cover.png);
}

.what-you-want-cover {
  background-image: url(./icons/covers/what-you-want-cover.png);
}

.bootlegs-cover {
  background-image: url(./icons/covers/bootlegs-cover.png);
}

.patreon-logo {
  background-image: url(./icons/logos/patreon.png);
}

.soundcloud-logo {
  background-image: url(./icons/logos/soundcloud.png);
}

.spotify-logo {
  background-image: url(./icons/logos/spotify.png);
}

.bandcamp-logo {
  background-image: url(./icons/logos/bandcamp.png);
}

.mixcloud-logo {
  background-image: url(./icons/logos/mixcloud.png);
}

.facebook-logo {
  background-image: url(./icons/logos/facebook.png);
}

.instagram-logo {
  background-image: url(./icons/logos/instagram.png);
}

.twitter-logo {
  background-image: url(./icons/logos/twitter.png);
}

.twitch-logo {
  background-image: url(./icons/logos/twitch.png);
}

.beatport-logo {
  background-image: url(./icons/logos/beatport.png);
}

.youtube-logo {
  background-image: url(./icons/logos/youtube.png);
}

@media (max-width: 780px) {
  nav {
    display: none;
  }

  .content {
    margin: 10px;
  }

  .title {
    top: 80px;
    right: -50px;
  }

  .embeded {
    width: calc(100vw - 20px);
  }
}

@media (max-width: 480px) {
  nav {
    display: none;
  }

  .content {
    margin: 0 10px 10px;
  }

  section h1 {
    font-size: 1.6em;
  }

  .live-stream {
    padding-right: 30px;
  }

  .title {
    position: absolute;
    font-size: 1.8em;
    right: -70px;
    padding-right: 5px;
  }

  .biography img {
    margin: 10px auto 20px;
    display: block;
  }

  .embeded {
    width: calc(100vw - 20px);
  }
}

