body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #333333;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #5cc4d8;
  text-decoration: none;
}

footer {
  text-align: right;
  padding: 10px;
  color: #FFBF00;
  font-weight: 100;
  font-size: 12px;
}

.title {
  color: #FFBF00;
  font-size: 22px;
  font-weight: 900;
  position: fixed;
  top: 145px;
  right: -50px;
  text-transform: uppercase;
  transform: rotate(90deg);
}

nav {
  display: flex;
  background-color: rgba(1, 0, 13, 0.85);
  font-size: 18px;
  font-weight: 900;
  padding: 10px; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
}

nav > .menu-links {
  align-items: center;   
  display: flex;
  flex-grow: 3;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

nav a {
  color: #fff;
  cursor: pointer;
}

nav a:hover {
  color: #5cc4d8;
}

.content {
  margin: 80px 40px 80px 60px;
  display: flex;
  justify-content: flex-start; 
  /* flex-flow: column; */ 
  flex-direction: column;  
}

section {
  max-width: 1400px;
}

section p {
  max-width: 850px;
}

section h1 {
  color: #FFBF00;
  font-size: 2.5em;
  font-weight: 900;
}

.releases {
  display: flex;
  gap: 10px;
  flex-direction: row; 
  flex-wrap: wrap; 
  align-content: flex-start;
}

.release {
  color: #fff;
  cursor: pointer;
  display: flex;
  width: 400px;
  height: 120px;
  background-color: rgba(1, 0, 13, 0.44);
}

.release-cover, .release-details {
  margin: 10px;
}

.release-cover {
  background-size: 100px 100px;
  flex-shrink: 0;
  flex-basis: 100px;
  width: 100px;
}

.release-title {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 9px;
}

.release-label {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5px;
}

.release-desc {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 6px;
}

.release-tags {
  font-size: 10px;
  font-weight: 100;
  font-style: italic;
}

.stream-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stream-list .past {
  color: #887e8b;
}

.stream-list li {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  text-indent: -0.7rem;
}

.stream-list li::before {
  content: "📺 ";
  font-size: 18px;
}

.stream-list .stream-title {
  font-size: 18px;
  font-weight: bold;
  padding-right: 4px;
}

.stream-list .stream-time {
  font-style: italic;
}

.stream-list .stream-desc {
  margin-left: 28px;
}

.resources {
  display: flex;
  gap: 10px;
  flex-direction: row; 
  flex-wrap: wrap; 
  align-content: flex-start;
}

.resource {
  color: #fff;
  padding: 10px;
  align-items: center; 
  display: flex;
  width: 380px;
  height: 100px;
  background-color: rgba(1, 0, 13, 0.44);
  gap: 15px;
}

.resource-logo {
  background-color: #fff;
  background-size: 100px 100px;
  border-radius: 50%;
  flex-shrink: 0;
  width: 100px;
  flex-basis: 100px;
  height: 100px;
}

.resource-title {
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 10px;
}

.biography img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.tag-line {
  margin-top: 50px;
  color: #FFBF00;
  font-size: 1.2em;
  font-style: italic;
}

/* Images */
.halon-logo {
  background-image: url(./icons/halon-logo-icon-1x.png);
  background-size: 50px 50px;
  height: 50px;
  width: 52px;
}

.tectonic-fields-cover {
  background-image: url(./icons/covers/tectonic-fields-cover.png);
}

.fallen-cover {
  background-image: url(./icons/covers/fallen-cover.png);
}

.elevated-cover {
  background-image: url(./icons/covers/elevated-cover.png);
}

.fall-sampler-cover {
  background-image: url(./icons/covers/fall-sampler-cover.png);
}

.interstellar-cover {
  background-image: url(./icons/covers/interstellar-medium-cover.png);
}

.echoes-vol-2-cover {
  background-image: url(./icons/covers/echoes-vol-2-cover.png);
}

.atmospheric-waves-cover {
  background-image: url(./icons/covers/atmospheric-waves-cover.png);
}

.md-talent-podcast-cover {
  background-image: url(./icons/covers/talent-podcast-cover.png);
}

.lost-elements-cover {
  background-image: url(./icons/covers/lost-elements-cover.png);
}

.strange-quarks-cover {
  background-image: url(./icons/covers/strange-quarks-cover.png);
}

.no-games-cover {
  background-image: url(./icons/covers/no-games-cover.png);
}

.what-you-want-cover {
  background-image: url(./icons/covers/what-you-want-cover.png);
}

.bootlegs-cover {
  background-image: url(./icons/covers/bootlegs-cover.png);
}

.soundcloud-logo {
  background-image: url(./icons/logos/soundcloud.png);
}

.spotify-logo {
  background-image: url(./icons/logos/spotify.png);
}

.bandcamp-logo {
  background-image: url(./icons/logos/bandcamp.png);
}

.mixcloud-logo {
  background-image: url(./icons/logos/mixcloud.png);
}

.facebook-logo {
  background-image: url(./icons/logos/facebook.png);
}

.instagram-logo {
  background-image: url(./icons/logos/instagram.png);
}

.twitter-logo {
  background-image: url(./icons/logos/twitter.png);
}

.twitch-logo {
  background-image: url(./icons/logos/twitch.png);
}

.beatport-logo {
  background-image: url(./icons/logos/beatport.png);
}

.youtube-logo {
  background-image: url(./icons/logos/youtube.png);
}


/* High Res */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

  
  nav {
    display: none;
  }

  .content {
    margin-top: 10px;
  }

  .title {
    top: 80px;
    right: -50px;
  }

  .releases, .resources {
    gap: 20px;
  }

  .release {
    gap: 20px;
    padding: 10px;
    width: 800px;
    height: 220px;
    font-size: 24px;
  }

  .resource {
    gap: 20px;
    padding: 20px;
    width: 790px;
    height: 200px;
    font-size: 24px;
  }

  .release-cover, .resource-logo {
    background-color: #fff;
    background-size: 200px 200px;
    flex-basis: 200px;
    width: 200px;
    height: 200px;
  }

  .release-title, .resource-title {
    font-size: 44px;
    margin-bottom: 18px;
  }

  .release-label {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .release-desc {
    font-size: 24px;
    margin-bottom: 12px;
  }
  
  .release-tags {
    font-size: 20px;
    font-style: italic;
  }
  


  .halon-logo {
      background: url(./icons/halon-logo-icon-2x.png) no-repeat;
      background-size: 100px 100px;
  }

}
